{% assign postMeta = false %}
{% if section.settings.tags and article.tags.size > 0 %}
  {% assign postMeta = true %}
{% elsif section.settings.author %}
  {% assign postMeta = true %}
{% elsif section.settings.share-buttons %}
  {% assign postMeta = true %}
{% endif %}

<style>
  .blog-left img.highlight {
    width: 250px !important;
    float: right;
}
  .blog-post-inner.blog-right {
    padding-top: 0 !important;
    color: #000 !important; margin-bottom: 20px;
    float: right;
    width: 97%;
}
  .blog-post-inner.blog-right h1 {
    padding: 0; color: #000 !important;
}
  .blog-right .post-date {
    color: #000;
}
  .blog-sidebar {
    border-right: 1px solid #e4e4e4;
    padding-right: 0 !important;
    margin-right: 5%;
    width: 14%;
}
 @media screen and ( max-width: 1300px ) {
  .blog-left img.highlight {
    width: 250px !important;
    float: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: inherit;
}
   .blog-sidebar {

    width: auto;

}
 }
</style>

<article class="blog-left blog-post {% if article.image %}has-featured-image{% endif %}">

  {% if article.image %}
    {% if template == 'article' %}
      <img class="highlight" src="{{ article.image | img_url: '1024x1024'}}" alt="{{ article.title }}">
    {% else %}
      <a href="{{ article.url }}">
        <img class="highlight" src="{{ article.image | img_url: '1024x1024'}}" alt="{{ article.title }}">
      </a>
    {% endif %}
  {% endif %}

  <div class="blog-post-inner blog-right">
    <h1 class="post-title">{{ article.title }}</h1>

    <span class="post-date">{{ article.published_at | date: format: 'short_month' }}</span>

    <div class="rte post-content">
      {{ article.content }}
    </div>

    {% if postMeta %}
      <aside class="post-meta">
        {% if section.settings.share-buttons %}
          {% include 'share-buttons' %}
        {% endif %}
        {% if article.tags.size > 0 and section.settings.tags %}
          <div class="post-tags">
            <span class="title">{{ 'blogs.article_item.tags' | t }}</span>
            {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
        {% if section.settings.author %}
          <div class="post-author">
            {% if section.settings.author-avatar %}
              <img class="post-author-avatar" src="http://www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
            {% endif %}
            <span class="post-author-name" data-title="{{ 'blogs.article_item.written_by' | t }}">{{ article.author }}</span>
          </div>
        {% endif %}
      </aside>
    {% endif %}
  </div>

</article>